<header>
    <div class="logo"><a href="https://desafio-clarke-energia-fullstack.vercel.app/">Energia Limpa</a></div>
    <nav>
      <ul class="menu" [class.active]="menuActive">
        <li><a href="https://desafio-clarke-energia-fullstack.vercel.app/">Fazer Cotação de consumo</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <div class="hamburger" (click)="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
  </header>
  
