<div *ngIf="fornecedores$ | async as fornecedores">
    <div class="containerFornecedores" *ngIf="fornecedores.length > 0; else semFornecedor">
      <div *ngFor="let fornecedor of fornecedores">
        <div class="logoFornecedor">
          <img [src]="fornecedor.logo" alt="{{ fornecedor.nome }}">
          <h3>{{ fornecedor.nome }}</h3>
        </div>
        <p>Estado: {{ fornecedor.estado }}</p>
        <p>Custo por kWh: {{ fornecedor.custo_kWh | currency }}</p>
        <p>Limite mínimo de kWh: {{ fornecedor.limite_minimo_kWh }}</p>
        <p>Total de clientes: {{ fornecedor.numero_total_clientes }}</p>
        <p>Avaliação média: {{ fornecedor.avaliacao_media }}</p>
      </div>
    </div>
    <ng-template #semFornecedor>
      <span>Não tem fornecedor disponível.</span>
    </ng-template>
  </div>
  