footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 14px;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 1px;
  }
  
  .footer-icons a img {
    width: 40px;
    height: 40px;
  }
  
  footer p {
    font-size: 18px;
    margin: 0;
  }

  footer span {
    text-decoration: none;
    color: #00df7c;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px;
    text-shadow: 2px 2px 4px #000000;

  }
  
  @media (max-width: 600px) {
    .footer-icons {
      gap: 100px;
    }
  
    .footer-icons a img {
      width: 30px;
      height: 30px;
    }
  
    footer p {
      font-size: 16px;
    }
  }
  