<footer>
    <div class="footer-icons">
      <a href="https://clarke.com.br/" target="_blank">
        <img src="path/to/empresa-icon.png" alt="Clarke Energia">
      </a>
      <a href="https://www.linkedin.com/in/alexferreira-asfuture/" target="_blank">
        <img src="path/to/linkedin-icon.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/asfuture" target="_blank">
        <img src="path/to/github-icon.png" alt="GitHub">
      </a>
    </div>
    <p>ALEX FERREIRA</p>
  </footer>
  