<footer>
    <div class="footer-icons">
      <a href="https://clarke.com.br/" target="_blank">
        <img src="../../../../assets/github.png" alt="Clarke Energia">
      </a>
      <a href="https://www.linkedin.com/in/alexferreira-asfuture/" target="_blank">
        <img src="../../../../assets/linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/asfuture" target="_blank">
        <img src="../../../../assets/github.png" alt="GitHub">
      </a>
    </div>
    <p>ALEX FERREIRA</p>
  </footer>
  