h1 {
    color: #00df7c;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pequisa {
    width: 400px;
    height: 150px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px 30px 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
}
.pequisa p {
    font-size: 20px;
}

button {
    height: 30px;
    border-radius: 5px;
}
input {
    height: 30px;
    border-radius: 5px;
}
